### Importación de datos

In [4]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()
tiendas = pd.concat([tienda, tienda2, tienda3, tienda4], ignore_index=True)

tiendas.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [6]:
# Crear columna de facturación
tiendas["Facturación"] = tiendas["Precio"] + tiendas["Costo de envío"]

# Facturación total
facturacion_total = tiendas["Facturación"].sum()
facturacion_total
print(f"Facturación total: ${facturacion_total:,.0f}")

Facturación total: $4,638,316,200

# 2. Ventas por categoría

In [7]:
# Calcular cantidad de ventas por categoría de producto
ventas_por_categoria = tiendas["Categoría del Producto"].value_counts()

# Mostrar resultados
print("Ventas por categoría de producto:")
print(ventas_por_categoria)

Ventas por categoría de producto:
Categoría del Producto
Muebles                    1886
Electrónicos               1772
Juguetes                   1290
Electrodomésticos          1149
Deportes y diversión       1113
Instrumentos musicales      753
Libros                      742
Artículos para el hogar     730
Name: count, dtype: int64

# 3. Calificación promedio de la tienda

In [16]:
# Calificación promedio por tienda
calificacion_por_tienda = tiendas.groupby("Lugar de Compra")["Calificación"].mean()

print("Calificación promedio por tienda:")
print(calificacion_por_tienda)

Calificación promedio por tienda:
Lugar de Compra
Armenia          3.464286
Barranquilla     3.803226
Bogotá           4.113619
Bucaramanga      3.977901
Cali             4.046673
Cartagena        4.020661
Cúcuta           3.940860
Inírida          3.642857
Leticia          3.922535
Manizales        3.634146
Medellín         3.926534
Neiva            3.800000
Pasto            4.148936
Pereira          4.013540
Riohacha         3.895706
Santa Marta      3.596026
Soacha           3.894737
Valledupar       4.071429
Villavicencio    3.827586
Name: Calificación, dtype: float64

# 4. Productos más y menos vendidos

In [13]:
# Contar cantidad de ventas por producto
productos_vendidos = tiendas["Producto"].value_counts()

# Identificar productos más y menos vendidos
producto_mas_vendido = productos_vendidos.idxmax()
producto_menos_vendido = productos_vendidos.idxmin()

# Mostrar resultados
print(f"Producto más vendido: {producto_mas_vendido}")
print(f"Producto menos vendido: {producto_menos_vendido}")

Producto más vendido: Mesa de noche
Producto menos vendido: Celular ABXY

# 5. Envío promedio por tienda

In [17]:
# Calificación promedio por tienda
calificacion_por_tienda = tiendas.groupby("Lugar de Compra")["Calificación"].mean()

print("Calificación promedio por tienda:")
print(calificacion_por_tienda.round(2))

Calificación promedio por tienda:
Lugar de Compra
Armenia          3.46
Barranquilla     3.80
Bogotá           4.11
Bucaramanga      3.98
Cali             4.05
Cartagena        4.02
Cúcuta           3.94
Inírida          3.64
Leticia          3.92
Manizales        3.63
Medellín         3.93
Neiva            3.80
Pasto            4.15
Pereira          4.01
Riohacha         3.90
Santa Marta      3.60
Soacha           3.89
Valledupar       4.07
Villavicencio    3.83
Name: Calificación, dtype: float64